In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
penguins = pd.read_csv('datasets\\penguins.csv')

In [3]:
penguins

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [4]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    int64
 1   species            344 non-null    object
 2   island             344 non-null    object
 3   bill_length_mm     342 non-null    float64
 4   bill_depth_mm      342 non-null    float64
 5   flipper_length_mm  342 non-null    float64
 6   body_mass_g        342 non-null    float64
 7   sex                333 non-null    object
 8   year               344 non-null    int64
dtypes: float64(4), int64(2), object(3)
memory usage: 24.3+ KB

In [5]:
penguins.describe()

,rowid,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,344.000000,342.000000,342.000000,342.000000,342.000000,344.000000
mean,172.500000,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,99.448479,5.459584,1.974793,14.061714,801.954536,0.818356
min,1.000000,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,86.750000,39.225000,15.600000,190.000000,3550.000000,2007.000000
50%,172.500000,44.450000,17.300000,197.000000,4050.000000,2008.000000
75%,258.250000,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,344.000000,59.600000,21.500000,231.000000,6300.000000,2009.000000

In [6]:
penguins.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [7]:
penguins['bill_length_mm'] = penguins['bill_length_mm'].fillna(penguins['bill_length_mm'].mean())

In [8]:
penguins['bill_depth_mm'] = penguins['bill_depth_mm'].fillna(penguins['bill_depth_mm'].mean())

In [9]:
penguins['flipper_length_mm'] = penguins['flipper_length_mm'].fillna(penguins['flipper_length_mm'].mean())

In [10]:
penguins['body_mass_g'] = penguins['body_mass_g'].fillna(penguins['body_mass_g'].mean())

In [11]:
penguins['sex'] = penguins['sex'].fillna(penguins['sex'].mode()[0])

In [12]:
penguins.isnull().sum()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

In [13]:
penguins

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.10000,18.70000,181.000000,3750.000000,male,2007
1,2,Adelie,Torgersen,39.50000,17.40000,186.000000,3800.000000,female,2007
2,3,Adelie,Torgersen,40.30000,18.00000,195.000000,3250.000000,female,2007
3,4,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,male,2007
4,5,Adelie,Torgersen,36.70000,19.30000,193.000000,3450.000000,female,2007
...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.80000,19.80000,207.000000,4000.000000,male,2009
340,341,Chinstrap,Dream,43.50000,18.10000,202.000000,3400.000000,female,2009
341,342,Chinstrap,Dream,49.60000,18.20000,193.000000,3775.000000,male,2009
342,343,Chinstrap,Dream,50.80000,19.00000,210.000000,4100.000000,male,2009
343,344,Chinstrap,Dream,50.20000,18.70000,198.000000,3775.000000,female,2009

In [14]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    int64
 1   species            344 non-null    object
 2   island             344 non-null    object
 3   bill_length_mm     344 non-null    float64
 4   bill_depth_mm      344 non-null    float64
 5   flipper_length_mm  344 non-null    float64
 6   body_mass_g        344 non-null    float64
 7   sex                344 non-null    object
 8   year               344 non-null    int64
dtypes: float64(4), int64(2), object(3)
memory usage: 24.3+ KB

In [15]:
penguins.dtypes

rowid                  int64
species               object
island                object
bill_length_mm       float64
bill_depth_mm        float64
flipper_length_mm    float64
body_mass_g          float64
sex                   object
year                   int64
dtype: object

In [16]:
penguins['rowid'] = penguins['rowid'].astype('category')

In [17]:
penguins['species'] = penguins['species'].astype('category')

In [18]:
penguins['island'] = penguins['island'].astype('category')

In [19]:
penguins['sex'] = penguins['sex'].astype('category')

In [20]:
penguins['year'] = penguins['year'].astype('category')

In [21]:
penguins.dtypes

rowid                category
species              category
island               category
bill_length_mm        float64
bill_depth_mm         float64
flipper_length_mm     float64
body_mass_g           float64
sex                  category
year                 category
dtype: object

<H1>DATA EXPLORATION

In [22]:
penguins['species'].value_counts()

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

In [23]:
penguins['island'].value_counts()

island
Biscoe       168
Dream        124
Torgersen     52
Name: count, dtype: int64

In [24]:
penguins[penguins['species'] == 'Adelie']

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.10000,18.70000,181.000000,3750.000000,male,2007
1,2,Adelie,Torgersen,39.50000,17.40000,186.000000,3800.000000,female,2007
2,3,Adelie,Torgersen,40.30000,18.00000,195.000000,3250.000000,female,2007
3,4,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,male,2007
4,5,Adelie,Torgersen,36.70000,19.30000,193.000000,3450.000000,female,2007
...,...,...,...,...,...,...,...,...,...
147,148,Adelie,Dream,36.60000,18.40000,184.000000,3475.000000,female,2009
148,149,Adelie,Dream,36.00000,17.80000,195.000000,3450.000000,female,2009
149,150,Adelie,Dream,37.80000,18.10000,193.000000,3750.000000,male,2009
150,151,Adelie,Dream,36.00000,17.10000,187.000000,3700.000000,female,2009
151,152,Adelie,Dream,41.50000,18.50000,201.000000,4000.000000,male,2009

<h1> DOES A SPECIES LIVE EXCLUSIVELY IN ISLAND</h1>

In [25]:
penguins['species'] == 'Adelie'

0       True
1       True
2       True
3       True
4       True
       ...
339    False
340    False
341    False
342    False
343    False
Name: species, Length: 344, dtype: bool

In [26]:
penguins['island'] == 'Biscoe'

0      False
1      False
2      False
3      False
4      False
       ...
339    False
340    False
341    False
342    False
343    False
Name: island, Length: 344, dtype: bool

In [27]:
penguins[(penguins['species'] == 'Adelie') & (penguins['island'] == 'Biscoe')].count()

rowid                44
species              44
island               44
bill_length_mm       44
bill_depth_mm        44
flipper_length_mm    44
body_mass_g          44
sex                  44
year                 44
dtype: int64

In [28]:
Adelie_biscoe = penguins[(penguins['species'] == 'Adelie') & (penguins['island'] == 'Biscoe')]

In [29]:
Adelie_biscoe

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
20,21,Adelie,Biscoe,37.8,18.3,174.0,3400.0,female,2007
21,22,Adelie,Biscoe,37.7,18.7,180.0,3600.0,male,2007
22,23,Adelie,Biscoe,35.9,19.2,189.0,3800.0,female,2007
23,24,Adelie,Biscoe,38.2,18.1,185.0,3950.0,male,2007
24,25,Adelie,Biscoe,38.8,17.2,180.0,3800.0,male,2007
25,26,Adelie,Biscoe,35.3,18.9,187.0,3800.0,female,2007
26,27,Adelie,Biscoe,40.6,18.6,183.0,3550.0,male,2007
27,28,Adelie,Biscoe,40.5,17.9,187.0,3200.0,female,2007
28,29,Adelie,Biscoe,37.9,18.6,172.0,3150.0,female,2007
29,30,Adelie,Biscoe,40.5,18.9,180.0,3950.0,male,2007
50,51,Adelie,Biscoe,39.6,17.7,186.0,3500.0,female,2008
51,52,Adelie,Biscoe,40.1,18.9,188.0,4300.0,male,2008
52,53,Adelie,Biscoe,35.0,17.9,190.0,3450.0,female,2008
53,54,Adelie,Biscoe,42.0,19.5,200.0,4050.0,male,2008
54,55,Adelie,Biscoe,34.5,18.1,187.0,2900.0,female,2008
55,56,Adelie,Biscoe,41.4,18.6,191.0,3700.0,male,2008
56,57,Adelie,Biscoe,39.0,17.5,186.0,3550.0,female,2008
57,58,Adelie,Biscoe,40.6,18.8,193.0,3800.0,male,2008
58,59,Adelie,Biscoe,36.5,16.6,181.0,2850.0,female,2008
59,60,Adelie,Biscoe,37.6,19.1,194.0,3750.0,male,2008
60,61,Adelie,Biscoe,35.7,16.9,185.0,3150.0,female,2008
61,62,Adelie,Biscoe,41.3,21.1,195.0,4400.0,male,2008
62,63,Adelie,Biscoe,37.6,17.0,185.0,3600.0,female,2008
63,64,Adelie,Biscoe,41.1,18.2,192.0,4050.0,male,2008
64,65,Adelie,Biscoe,36.4,17.1,184.0,2850.0,female,2008
65,66,Adelie,Biscoe,41.6,18.0,192.0,3950.0,male,2008
66,67,Adelie,Biscoe,35.5,16.2,195.0,3350.0,female,2008
67,68,Adelie,Biscoe,41.1,19.1,188.0,4100.0,male,2008
100,101,Adelie,Biscoe,35.0,17.9,192.0,3725.0,female,2009
101,102,Adelie,Biscoe,41.0,20.0,203.0,4725.0,male,2009
102,103,Adelie,Biscoe,37.7,16.0,183.0,3075.0,female,2009
103,104,Adelie,Biscoe,37.8,20.0,190.0,4250.0,male,2009
104,105,Adelie,Biscoe,37.9,18.6,193.0,2925.0,female,2009
105,106,Adelie,Biscoe,39.7,18.9,184.0,3550.0,male,2009
106,107,Adelie,Biscoe,38.6,17.2,199.0,3750.0,female,2009
107,108,Adelie,Biscoe,38.2,20.0,190.0,3900.0,male,2009
108,109,Adelie,Biscoe,38.1,17.0,181.0,3175.0,female,2009
109,110,Adelie,Biscoe,43.2,19.0,197.0,4775.0,male,2009
110,111,Adelie,Biscoe,38.1,16.5,198.0,3825.0,female,2009
111,112,Adelie,Biscoe,45.6,20.3,191.0,4600.0,male,2009
112,113,Adelie,Biscoe,39.7,17.7,193.0,3200.0,female,2009
113,114,Adelie,Biscoe,42.2,19.5,197.0,4275.0,male,2009
114,115,Adelie,Biscoe,39.6,20.7,191.0,3900.0,female,2009
115,116,Adelie,Biscoe,42.7,18.3,196.0,4075.0,male,2009

In [30]:
Adelie_torg = penguins[(penguins['species'] == 'Adelie') & (penguins['island'] == 'Torsegen')]

In [31]:
Adelie_torg

Empty DataFrame
Columns: [rowid, species, island, bill_length_mm, bill_depth_mm, flipper_length_mm, body_mass_g, sex, year]
Index: []

In [32]:
Adelie_dream = penguins[(penguins['species'] == 'Adelie') & (penguins['island'] == 'Dream')]

In [33]:
Adelie_dream

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
30,31,Adelie,Dream,39.5,16.7,178.0,3250.0,female,2007
31,32,Adelie,Dream,37.2,18.1,178.0,3900.0,male,2007
32,33,Adelie,Dream,39.5,17.8,188.0,3300.0,female,2007
33,34,Adelie,Dream,40.9,18.9,184.0,3900.0,male,2007
34,35,Adelie,Dream,36.4,17.0,195.0,3325.0,female,2007
35,36,Adelie,Dream,39.2,21.1,196.0,4150.0,male,2007
36,37,Adelie,Dream,38.8,20.0,190.0,3950.0,male,2007
37,38,Adelie,Dream,42.2,18.5,180.0,3550.0,female,2007
38,39,Adelie,Dream,37.6,19.3,181.0,3300.0,female,2007
39,40,Adelie,Dream,39.8,19.1,184.0,4650.0,male,2007
40,41,Adelie,Dream,36.5,18.0,182.0,3150.0,female,2007
41,42,Adelie,Dream,40.8,18.4,195.0,3900.0,male,2007
42,43,Adelie,Dream,36.0,18.5,186.0,3100.0,female,2007
43,44,Adelie,Dream,44.1,19.7,196.0,4400.0,male,2007
44,45,Adelie,Dream,37.0,16.9,185.0,3000.0,female,2007
45,46,Adelie,Dream,39.6,18.8,190.0,4600.0,male,2007
46,47,Adelie,Dream,41.1,19.0,182.0,3425.0,male,2007
47,48,Adelie,Dream,37.5,18.9,179.0,2975.0,male,2007
48,49,Adelie,Dream,36.0,17.9,190.0,3450.0,female,2007
49,50,Adelie,Dream,42.3,21.2,191.0,4150.0,male,2007
84,85,Adelie,Dream,37.3,17.8,191.0,3350.0,female,2008
85,86,Adelie,Dream,41.3,20.3,194.0,3550.0,male,2008
86,87,Adelie,Dream,36.3,19.5,190.0,3800.0,male,2008
87,88,Adelie,Dream,36.9,18.6,189.0,3500.0,female,2008
88,89,Adelie,Dream,38.3,19.2,189.0,3950.0,male,2008
89,90,Adelie,Dream,38.9,18.8,190.0,3600.0,female,2008
90,91,Adelie,Dream,35.7,18.0,202.0,3550.0,female,2008
91,92,Adelie,Dream,41.1,18.1,205.0,4300.0,male,2008
92,93,Adelie,Dream,34.0,17.1,185.0,3400.0,female,2008
93,94,Adelie,Dream,39.6,18.1,186.0,4450.0,male,2008
94,95,Adelie,Dream,36.2,17.3,187.0,3300.0,female,2008
95,96,Adelie,Dream,40.8,18.9,208.0,4300.0,male,2008
96,97,Adelie,Dream,38.1,18.6,190.0,3700.0,female,2008
97,98,Adelie,Dream,40.3,18.5,196.0,4350.0,male,2008
98,99,Adelie,Dream,33.1,16.1,178.0,2900.0,female,2008
99,100,Adelie,Dream,43.2,18.5,192.0,4100.0,male,2008
132,133,Adelie,Dream,36.8,18.5,193.0,3500.0,female,2009
133,134,Adelie,Dream,37.5,18.5,199.0,4475.0,male,2009
134,135,Adelie,Dream,38.1,17.6,187.0,3425.0,female,2009
135,136,Adelie,Dream,41.1,17.5,190.0,3900.0,male,2009
136,137,Adelie,Dream,35.6,17.5,191.0,3175.0,female,2009
137,138,Adelie,Dream,40.2,20.1,200.0,3975.0,male,2009
138,139,Adelie,Dream,37.0,16.5,185.0,3400.0,female,2009
139,140,Adelie,Dream,39.7,17.9,193.0,4250.0,male,2009
140,141,Adelie,Dream,40.2,17.1,193.0,3400.0,female,2009
141,142,Adelie,Dream,40.6,17.2,187.0,3475.0,male,2009
142,143,Adelie,Dream,32.1,15.5,188.0,3050.0,female,2009
143,144,Adelie,Dream,40.7,17.0,190.0,3725.0,male,2009
144,145,Adelie,Dream,37.3,16.8,192.0,3000.0,female,2009
145,146,Adelie,Dream,39.0,18.7,185.0,3650.0,male,2009
146,147,Adelie,Dream,39.2,18.6,190.0,4250.0,male,2009
147,148,Adelie,Dream,36.6,18.4,184.0,3475.0,female,2009
148,149,Adelie,Dream,36.0,17.8,195.0,3450.0,female,2009
149,150,Adelie,Dream,37.8,18.1,193.0,3750.0,male,2009
150,151,Adelie,Dream,36.0,17.1,187.0,3700.0,female,2009
151,152,Adelie,Dream,41.5,18.5,201.0,4000.0,male,2009

<h1> ADELIE</h1>

In [34]:
penguins[(penguins['species'] == 'Adelie') & (penguins['island'] == 'Biscoe')].count()

rowid                44
species              44
island               44
bill_length_mm       44
bill_depth_mm        44
flipper_length_mm    44
body_mass_g          44
sex                  44
year                 44
dtype: int64

<h1>GENTOO </h1>

In [35]:
penguins[(penguins['species'] == 'Gentoo') & (penguins['island'] == 'Torsegen')].count()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

CHINSTRAP lives

In [36]:
penguins[(penguins['species'] == 'Chinstrap') & (penguins['island'] == 'Dream')].count()

rowid                68
species              68
island               68
bill_length_mm       68
bill_depth_mm        68
flipper_length_mm    68
body_mass_g          68
sex                  68
year                 68
dtype: int64

<h1> DOES THE ISLAND AFFECTS THE WEIGHT OR BODY MASS OF PENGUIN SPECIES?

In [37]:
Adelie_biscoe['body_mass_g'].mean()

np.float64(3709.659090909091)

In [38]:
np.round (Adelie_biscoe['body_mass_g'].mean(), 1)

np.float64(3709.7)

In [39]:
Adelie_torg['body_mass_g'].mean()

nan

In [40]:
np.round (Adelie_torg['body_mass_g'].mean(), 1)

np.float64(nan)

In [41]:
np.round (Adelie_dream['body_mass_g'].mean(), 1)

np.float64(3688.4)

In [42]:
penguins_agg = penguins.groupby(['species','island']).count()

C:\Users\LAB4-StudentPC34\AppData\Local\Temp\ipykernel_15388\1966283116.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  penguins_agg = penguins.groupby(['species','island']).count()

In [43]:
penguins_agg

                     rowid  bill_length_mm  bill_depth_mm  flipper_length_mm  \
species   island
Adelie    Biscoe        44              44             44                 44
          Dream         56              56             56                 56
          Torgersen     52              52             52                 52
Chinstrap Biscoe         0               0              0                  0
          Dream         68              68             68                 68
          Torgersen      0               0              0                  0
Gentoo    Biscoe       124             124            124                124
          Dream          0               0              0                  0
          Torgersen      0               0              0                  0

                     body_mass_g  sex  year
species   island
Adelie    Biscoe              44   44    44
          Dream               56   56    56
          Torgersen           52   52    52
Chinstrap Biscoe               0    0     0
          Dream               68   68    68
          Torgersen            0    0     0
Gentoo    Biscoe             124  124   124
          Dream                0    0     0
          Torgersen            0    0     0

In [44]:
penguins_agg = penguins.groupby(['species','island', 'sex']).count()

C:\Users\LAB4-StudentPC34\AppData\Local\Temp\ipykernel_15388\2170815126.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  penguins_agg = penguins.groupby(['species','island', 'sex']).count()

In [45]:
penguins_agg

                            rowid  bill_length_mm  bill_depth_mm  \
species   island    sex
Adelie    Biscoe    female     22              22             22
                    male       22              22             22
          Dream     female     27              27             27
                    male       29              29             29
          Torgersen female     24              24             24
                    male       28              28             28
Chinstrap Biscoe    female      0               0              0
                    male        0               0              0
          Dream     female     34              34             34
                    male       34              34             34
          Torgersen female      0               0              0
                    male        0               0              0
Gentoo    Biscoe    female     58              58             58
                    male       66              66             66
          Dream     female      0               0              0
                    male        0               0              0
          Torgersen female      0               0              0
                    male        0               0              0

                            flipper_length_mm  body_mass_g  year
species   island    sex
Adelie    Biscoe    female                 22           22    22
                    male                   22           22    22
          Dream     female                 27           27    27
                    male                   29           29    29
          Torgersen female                 24           24    24
                    male                   28           28    28
Chinstrap Biscoe    female                  0            0     0
                    male                    0            0     0
          Dream     female                 34           34    34
                    male                   34           34    34
          Torgersen female                  0            0     0
                    male                    0            0     0
Gentoo    Biscoe    female                 58           58    58
                    male                   66           66    66
          Dream     female                  0            0     0
                    male                    0            0     0
          Torgersen female                  0            0     0
                    male                    0            0     0

In [46]:
adelie_male = penguins.groupby(['sex', 'year','species' ]).size()

C:\Users\LAB4-StudentPC34\AppData\Local\Temp\ipykernel_15388\430087453.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  adelie_male = penguins.groupby(['sex', 'year','species' ]).size()

In [47]:
adelie_male.unstack()

species      Adelie  Chinstrap  Gentoo
sex    year
female 2007      22         13      16
       2008      25          9      22
       2009      26         12      20
male   2007      28         13      18
       2008      25          9      24
       2009      26         12      24

<H1>INSIGHT NO.9 </H1>
<H3>WHICH IS HEAVIER BETWEEN PENGUINS SPECIES IN TERMS OF SEX </H3>

In [48]:
weight_sex = np.round(penguins.groupby(['species', 'sex'])['body_mass_g'].mean()/1000 ,1)

C:\Users\LAB4-StudentPC34\AppData\Local\Temp\ipykernel_15388\3220565620.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  weight_sex = np.round(penguins.groupby(['species', 'sex'])['body_mass_g'].mean()/1000 ,1)

In [49]:
weight_sex

species    sex
Adelie     female    3.4
           male      4.0
Chinstrap  female    3.5
           male      3.9
Gentoo     female    4.7
           male      5.4
Name: body_mass_g, dtype: float64

In [50]:
weight_sex.unstack()

sex        female  male
species
Adelie        3.4   4.0
Chinstrap     3.5   3.9
Gentoo        4.7   5.4

<H1>INSIGHT NO.10 </H1>
<H3> WHAT YEAR HAS THE HIGHEST RECORDED WEIGHT FOR MALE AND FEMALE?

In [51]:
weight_sex_heighest = np.round(penguins.groupby(['species', 'sex', 'year'])['body_mass_g'].mean()/1000 ,1)

C:\Users\LAB4-StudentPC34\AppData\Local\Temp\ipykernel_15388\814053014.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  weight_sex_heighest = np.round(penguins.groupby(['species', 'sex', 'year'])['body_mass_g'].mean()/1000 ,1)

In [52]:
weight_sex_heighest.unstack()

year              2007  2008  2009
species   sex
Adelie    female   3.4   3.4   3.3
          male     4.0   4.1   4.0
Chinstrap female   3.6   3.5   3.5
          male     3.8   4.1   3.9
Gentoo    female   4.6   4.6   4.8
          male     5.5   5.4   5.4

<H1> INSIGHT NO.11</H1>
<h2>CORRELATION BETWEEN BILL LENGTH AND BILL DEPTH</h2>

In [53]:
bill_length_depth = penguins['bill_length_mm'].corr(penguins['bill_depth_mm'])

In [54]:
bill_length_depth

np.float64(-0.23505287035553282)

<h1>insight no.12</h1> 
<h2>correlation between bill length and weight

In [55]:
bill_length_weight = penguins['bill_length_mm'].corr(penguins['body_mass_g'])

In [56]:
bill_length_weight

np.float64(0.5951098244376304)

<h1>corr between flipper length and weight

In [57]:
flipper_length_weight = penguins['flipper_length_mm'].corr(penguins['body_mass_g'])

In [58]:
flipper_length_weight

np.float64(0.8712017673060114)

In [59]:
flipper_length_depth = penguins['flipper_length_mm'].corr(penguins['bill_depth_mm'])

In [60]:
flipper_length_depth

np.float64(-0.5838512164654123)

In [61]:
weight_bill_depth = penguins['bill_depth_mm'].corr(penguins['body_mass_g'])

In [62]:
weight_bill_depth

np.float64(-0.4719156211860664)

In [63]:
pip install scipy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scipy in c:\users\lab4-studentpc34\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (1.15.2)
Requirement already satisfied: numpy<2.5,>=1.23.5 in c:\users\lab4-studentpc34\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from scipy) (2.2.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\LAB4-StudentPC34\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [67]:
from scipy.stats import f_oneway

In [68]:
penguins[penguins['sex'] == 'male']['body_mass_g']

0      3750.000000
3      4201.754386
5      3650.000000
7      4675.000000
8      3475.000000
          ...
334    3800.000000
336    3950.000000
339    4000.000000
341    3775.000000
342    4100.000000
Name: body_mass_g, Length: 179, dtype: float64

<h1>bodymass c sex</h1>

In [72]:
f_stats,p_value = f_oneway(penguins[penguins['sex'] == 'male']['body_mass_g'], 
penguins[penguins['sex'] == 'female']['body_mass_g'])

p_value

np.float64(3.0226600487050246e-15)

<h1>year c body_mass</h1>

In [81]:
f_stats,p_value = f_oneway(penguins[penguins['year']['body_mass_g'], 
penguins[penguins['year']['body_mass_g'])

p_value

SyntaxError: closing parenthesis ')' does not match opening parenthesis '[' (2777874472.py, line 2)